.avatar{
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
 .avatar img{
    height:170px;
    width: 170px;
    object-fit: cover;
    border-radius: 7px;
 }
