body{
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    font-weight:500;
    background-color:#ededed;
    overflow-x: hidden;
}

a {
    color: gray;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
 
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 7px;
    border-radius: 7px;
	background: rgba(46,158,246,0.8); 
}

::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(46,158,246,0.4); 
}

.app-wrapper{
    display: grid;
    margin: 0 auto;
    width: 1200px;
    grid-template-areas:
    "h h"
    "n c";
    grid-template-rows: 20px 1fr;
    grid-template-columns: 2fr 10fr;
    margin-bottom: 30px;
}

.app-wrapper-content{
    grid-area: c;
}
